
@{
    Layout = null;
    @* 註解：產生檢視（View）的時候，不使用任何「版面配置頁」（類似Web Form的 MasterPage 母版頁面） *@
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index - 這是一個空白的檢視（View）畫面</title>
</head>
<body>
    <div>
        Index - 這是一個空白的檢視（View）畫面
    </div>
</body>
</html>
