
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    // 註解：自訂的「版面配置頁」
}

<h2>Index2 （子頁面）</h2>

自己設定的「版面配置頁」，檔案位於 ~/Views/Shared/_LayoutPage1.cshtml<br /><br />

完成後，可搭配 Index8 一起學習。
