
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexHello</title>
</head>
<body>
    <div>
        <h3>IndexHello</h3>
        <br />

        您好！當您輸入這兩個網址，都會跳到這個檢視畫面～<br /><br />
        (1)  http://您的網站/Lesson1/Index<font color="red">1A</font>  <br /><br />
        (2)  http://您的網站/Lesson1/Index<font color="red">1B</font>

        <br /><br />
        直接瀏覽這個網頁，將會出錯。因為 Controller裡面，沒有對應的Action。

    </div>
</body>
</html>
