@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3A</title>
</head>
<body>
    <div>
        <h2>從 Controller 傳遞數據到 View畫面 #2</h2>
        如果ViewData & ViewBag 相同命名，會出現什麼情況？？
        <hr />

        (1). <font color="red">ViewData["XYZ"]</font> 的答案：  @ViewData["XYZ"]   
        
        <br /><br />

        (2). ViewBag.XYZ 的答案：  @ViewBag.XYZ           <br />


    <br />
    </div>



</body>
</html>
