@model IEnumerable<WebApplication2017_MVC_Starter.Models.Class1>
@*
    // 檢視畫面上的第一列（model）與 Model，有何不同？？
    // @Model is "a property of the view" that refers to the model that was passed to the view from the controller.
    // This property is strongly typed based on the data type specified in the @model directive at the top of the view.
    // ***  @model occurs "only once" and specifies the "data type" of the model.
    // ***  @Model allows you to reference "the value for the model" passed to the view.
*@

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index5 - 第一次搭配類別檔 #2</title>
</head>
<body>

    Index5 - 第一次搭配類別檔 #2 ( / Models/Class1.cs檔)
    <br /><br />

    <table class="table" border="1">
        <tr>
            <th>
                <!-- 註解：標題欄位。也就是類別 Class1的「屬性名稱」  -->
                @Html.DisplayNameFor(m => m.UserName)
                <!-- 為了避免造成混淆，您可以把這裡的 model字樣 改成 m 或是 x 都可以。 -->
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <!-- 註解：內容欄位。也就是類別 Class1裡面，屬性的「值」  -->
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            </tr>
        }

    </table>
</body>
</html>
