
@{
    Layout = null;
    
    var result = "";
    var num = 10;

    if (!IsPost)
    {
        // 第一次執行。
        result = "網頁「第一次」執行。";
    }
    else
    {   // PostBack（回傳）
        result = "按下Submit按鈕。送出之後......";

        if (Request["TextBox1"].IsInt())
        {
            num = Request["TextBox1"].AsInt();   // 將輸入的字串轉成整數
            num = (num * 10);
            @: 答案是 <font color="red"> @num </font><br />
            @: 輸出「貨幣格式」： <font color="red"> @String.Format("{0:C}", @num) </font><br /><br /><br />
        }
        else
        {
            result = "Sorry！～您輸入是" + Request["TextBox1"].ToString() + "，只能輸入整數。";
        }
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index91Add - 傳統HTML表單</title>
</head>
<body>
    <div>
        輸入值，乘以十<br /><br /><br />

        傳統HTML表單：<br />
        <form method="POST" action="">
            請輸入 1~20之間的數字（整數）：<input type="text" name="TextBox1" value="10" required />

            <input type="Submit" name="Submit" value="Submit 送出" />
        </form>


        <br /><hr /><br />
        <h3>@result</h3>

        <br /><br />
        下一個範例（Lesson2Form控制器，Index10BeginForm動作）會由此範例修改，學習 HTML Helper。

    </div>
</body>
</html>
